
/* ------------- Section -------------------- */
.content{
    position: relative;
    margin: 1.6rem;
}

.content h1{
    color:#9f252a; 
    text-align: center;
}

.content p span{
  font-weight: bold;
  font-style: italic;
  font-size:1.7rem; 
  color:#9f252a;
}

.content .cms{
    color:#9f252a;
}
.content .container{
    width: 100%;
}
.content .row{
    display: flex;
    flex-wrap: wrap;
}

.col-1-of-2{
    -webkit-box-flex: 0;
    -ms-flex: 0 0 calc((100% - 10%)/2);
    flex: 0 0 calc((100% - 6%)/2);
    padding-right: 10px;
    padding-left: 10px;
}

.to-top{
    position: absolute;
    bottom: -1.1rem;
    right: .5rem;
    border-radius: 50%;
    padding: .4rem;
    background-color: #000;
    color: #fff;
    text-align: center;
    text-decoration: none;
}